<div class="container">
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        Create
      </button>
    </div>
    <div class="col-3">
      <input type="search" name="search" id="search" />
    </div>
    <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Status
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Opened</a>
          <a class="dropdown-item" href="#">Improgress</a>
          <a class="dropdown-item" href="#">Completed</a>
          <a class="dropdown-item" href="#">Closed</a>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button type="button" (click)="clearTodo()" class="btn btn-primary">
        Clear
      </button>
    </div>
    <div class="col-1">
      <button type="button" (click)="loadTable()" class="btn btn-primary">
        Refresh
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of myTodo">
          <th scope="row">1</th>
          <td>{{todo.desc}}</td>
          <td>{{todo.status}}</td>
          <td><button type="button" (click)="editTodo()" class="btn btn-primary">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <input type="text" placeholder="Description" [(ngModel)]='description' name="description" id="desc" />
          </div>
          <div class="col-6">
            <input type="text" placeholder="status" [(ngModel)]='status' name="description" id="desc" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" (click)="createTodo()" data-dismiss="modal" class="btn btn-primary">
          Create Item
        </button>
      </div>
    </div>
  </div>
</div>